<nb-card>
  <nb-card-header>
    Invoices
  </nb-card-header>

  <nb-card-body>
    <div class="ng2-smart-actions-title ng2-smart-actions-title-add">
      <a class="ng2-smart-action ng2-smart-action-add-add"  href="#/pages/tables/invoices/new-invoice"><i class="nb-plus"></i>New Invoice</a>
    </div>
    <ng2-smart-table [settings]="settings" [source]="source" model
                     (deleteConfirm)="onDeleteConfirm($event)"
                     (delete)="onAction($event)"
                     (create)="onCreate($event)"
                     (createConfirm)="onCreate($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
